.container{
    margin: 0 auto;
    background-color: rgb(241, 238, 210);
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
}

.img{
    margin: 15px 0;
    width: 50%;
    height: 50%;

}